
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.list-group-item  {
    align-items: center;
    margin: auto;
}
ul, input{
    width: 400px;
}

.btn-light{
color: white;
margin-right: auto;
}
.separar {
    display: flex;
    justify-content: space-between;
}
.boton {
    display: flex;
    justify-content: end;
}